<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">

  <title>
    <%= title %>
  </title>

  <!-- AOS CSS file for animation -->
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

  <!-- Bootstrap CSS files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <!-- Template Main CSS file -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/login.css" />

</head>

<body>
  <main id="main">

    <section class="section pb-5">
      <div class="container">
        <% if(error){ %>
          <div class="row mb-5 align-items-end">
            <div class="col-12 heading" data-aos="fade-up">
              <p class="mb-0 text-danger">
                <%= error %>
              </p>
            </div>
          </div>
          <% } %>

            <div class="row mb-5 align-items-end">
              <div class="col-12 heading" data-aos="fade-up">
                <h2>Login</h2>
                <p class="mb-0">Login into your account</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-12 mb-md-0" data-aos="fade-up">

                <form id="login_form" action="/auth/login" method="post" role="form" class="login_form">

                  <div class="row gy-3">
                    <div class="col-md-6 form-group">
                      <label for="username">Username: </label>
                      <input type="text" name="username" class="form-control" id="username" required>
                    </div>
                    <div class="col-md-6 form-group">
                      <label for="password">Password: </label>
                      <input type="password" name="password" class="form-control" id="password" required>
                    </div>

                    <div class="col-md-6 mt-0 form-group">
                      <input type="submit" class="btn readmore d-block w-100 cust-btn" value="Login" />
                    </div>
                  </div>

                </form>

              </div>

            </div>

      </div>

    </section>

  </main>

  <!-- Include footer partial -->
  <%- include('./partials/footer.ejs') -%>

    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

    <!-- AOS library script for animations -->
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

    <!-- Template scripts -->
    <script src="/javascripts/index.js"></script>
</body>

</html>