/* Date:
 * File Name: 
 * Student ID:
 * Student Name:
 */

.table-holder {
  margin-top: 5em;
}

.wrapper {
  margin: auto;
  margin-top: 1em;
  padding: 0 10em;
}

.custom-btn {
  font-size: 0.9em;
}
