/* Date:
 * File Name: 
 * Student ID:
 * Student Name:
 */
main {
  margin: 5em;
}

.container {
  padding: 1em;
}

.login_form {
  max-width: 40em;
  margin: auto;
}

.heading {
  text-align: center;
  max-width: 38em;
  margin: auto;
}
